{% load static %}

<style>
    .bg-1 { 
      background-color: #343a40; 
      color: #ffffff;
    }
    .bg-2 { 
      background-color: #474e5d; 
      color: #ffffff;
    }
    .bg-3 { 
      background-color: #fff;
      color: #555555;
    }
    </style>
  <body>
  <div class="container-fluid bg-1 text-center">
    <br>
    <h3>Who Are We?</h3>
    <br>
    <img src="/static/images/img1.jpg" class="img-circle" width="350" height="350" alt= "Avatar" boarder="50%">
    <img src="/static/images/img4.jpg" class="img-circle" width="350" height="350" alt= "Avatar" boarder="50%">
    <img src="/static/images/img3.jpg" class="img-circle" width="350" height="350" alt= "Avatar" boarder="50%">
    <img src="/static/images/img2.jpg" class="img-circle" width="350" height="350" alt= "Avatar" boarder="50%">

<br><br>
    
    
    <h3>We Are Your Friends</h3>
    <br>
  </div>
  <div class="container-fluid bg-2 text-center">
    <br>
    <h3>What we do?</h3>
    <p>Employee Record Management System helps to eliminate the manual process and saves a lot of time and money. Our system maintains the professional and personal details of the employees and the company in a safe manner.</p>
  <br>
  </div>
  <br>
<div class="container-fluid bg-3 text-center">    
  <h3 class="margin">Some of Our Good Friends</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <img src="/static/images/amazon.png" class="img-responsive margin" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4"> 
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <img src="/static/images/workday.png" class="img-responsive margin" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4"> 
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <img src="/static/images/auto.png" class="img-responsive margin" style="width:100%" alt="Image">
    </div>
  </div>
</div>
​

    <footer class="page-footer font-small special-color-dark pt-4">
      
      
        <div class= "mt-3" style = "background-color : #343a40 ; width:100% ; height:350px">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mt-3">
                       <h3 class="text-white">Contact Information</h3>
                        <p style="color:rgb(222, 228, 226) ; font-size : 18px"><i class="fa fa-map-marker text-danger"></i> 82, Santry, Dublin 09</p>
                        <p style="color:rgb(248, 248, 247) ; font-size : 18px"><i class="fa fa-envelope text-danger"></i> ERMS@gmail.com</p>
                        <p style="color:rgb(247, 247, 245) ; font-size : 18px"><i class="fa fa-mobile text-danger"></i> P: +353 89 976 4405 / +353 89 484 4847</p>
                        <p style="color:rgb(238, 238, 234) ; font-size : 18px"><i class="fa fa-globe text-danger"></i> W: www.ERMS.com</p>
                         <ul class="list-unstyled list-inline text-center">
            
                             <div class = "text-md-left">
                                 
                                 <li class="list-inline-item">
                                     <a  href ="https://www.facebook.com/" class="btn-floating btn-fb mx-1">
                                         <i class="fab fa-facebook-f"> </i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href ="https://www.twitter.com/" class="btn-floating btn-tw mx-1">
                                            <i class="fab fa-twitter"> </i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href ="https://www.instagram.com/" class="btn-floating btn-gplus mx-1">
                                            <i class="fab fa-instagram"> </i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href ="https://www.linkedin.com/" class="btn-floating btn-li mx-1">
                                            <i class="fab fa-linkedin-in"> </i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>